<app-header titulo="Card"></app-header>

<ion-content padding>
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi at quae perspiciatis blanditiis cum maiores architecto quidem repellendus ex aliquid voluptatem quam commodi error minima debitis, ducimus quo, consectetur vel!
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-img src="/assets/icon/favicon.png"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam corrupti obcaecati, aliquid, quidem dignissimos nostrum unde ipsam id magni nisi temporibus architecto inventore. Dolorem, recusandae iste quod harum tenetur ipsum!
    </ion-card-content>
  </ion-card>

</ion-content>